.panel-container{display:block}.panel-container .panel{position:absolute;top:0;left:0;right:0;bottom:0;max-height:100%;display:grid;grid-template-rows:min-content 1fr min-content;gap:3px;padding:1px}.panel-container .panel .header{pointer-events:all;user-select:none;display:flex;justify-content:center;align-items:center;gap:10px;padding:5px}.panel-container .panel .header h3{flex:1;text-align:center}.panel-container .panel .content{pointer-events:all;display:grid;grid-template-rows:1fr 1fr;position:relative}.panel-container .panel .footer{pointer-events:all;user-select:none;cursor:pointer;display:flex;justify-content:flex-end;gap:10px;align-items:center;padding:3px;position:relative}

.slide-scroller {
&[data-v-af605da6] {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.slide-container {
&[data-v-af605da6] {
        display: inline-block;
        transition: transform 0.3s ease;
}
.slide-item {
&[data-v-af605da6] {
            width: 96px;
            height: 96px;
            display: inline-block;
            margin: 0;
            cursor: pointer;

            pointer-events: all;

            position: relative;
}
.title[data-v-af605da6] {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 16px;
}
&.selected {
img[data-v-af605da6] {
                    border-color: #007bffa9;
}
}
img[data-v-af605da6] {
                width: 100%;
                height: auto;
                border: 1px solid transparent;
                transition: border-color 0.2s ease;
}
.overflow[data-v-af605da6] {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
}
}
}
}


.panel-container {
&[data-v-e71891a0] {
    padding: 0px;
}
.panel {
&[data-v-e71891a0] {
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        max-height: 100%;
        display: grid;
        grid-template-rows: 32px 1fr;
        background-color: rgba(43, 43, 43, 0.75);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
        gap: 5px;
}
.header[data-v-e71891a0] {
            pointer-events: all;
            height: 32px;
            user-select: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
}
.content {
&[data-v-e71891a0] {
            flex: 1;
            pointer-events: all;
            display: flex;
            flex-direction: column;    
            overflow: auto;
            margin: 5px;
}
.elements[data-v-e71891a0]{
                /*min-height: 1280px;*/
                overflow-y: auto;
}
}
}
}


.transform-container {
    width: 100%;
.label {
        display: flex;
        justify-content: space-between;
.title {
            min-height: 1.2em;
}
}
.transforms {
        display: flex;
        flex-direction: column;
        gap: 5px;
}
}
.copybutton {
    margin: 5px 0;
    width: 100%;
}

.assetblock[data-v-171e47dc]{top:0;width:100%;display:flex;flex-direction:column}.assetblock .title[data-v-171e47dc]{display:grid;grid-template-columns:auto 1fr;width:100%}.assetblock .title .short[data-v-171e47dc]{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:flex}.assetblock .title .short .short-text[data-v-171e47dc]{overflow:hidden;text-overflow:ellipsis}.assetblock .short-content[data-v-171e47dc]{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.assetblock .assetcontent[data-v-171e47dc]{display:grid;width:100%;grid-template-rows:repeat(auto-fit)}.assetblock .assetcontent .assetrow[data-v-171e47dc]{display:flex;justify-content:space-between}.assetblock .assetcontent .assetrow .cell[data-v-171e47dc]{width:100%;display:flex;overflow:hidden}
.overleyicon[data-v-951f7c20]{display:block;position:relative;width:100%;height:100%}.overleyicon .text[data-v-951f7c20]{position:absolute;top:0;bottom:0;width:100%}.overleyicon .ico[data-v-951f7c20]{position:absolute;top:0;bottom:0;width:100%}
.assetblock[data-v-505fda3f]{top:0;width:100%;display:flex;flex-direction:column}.assetblock .title[data-v-505fda3f]{display:grid;grid-template-columns:auto 1fr;width:100%}.assetblock .title .short[data-v-505fda3f]{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:flex}.assetblock .title .short .short-text[data-v-505fda3f]{overflow:hidden;text-overflow:ellipsis}.assetblock .short-content[data-v-505fda3f]{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.assetblock .assetcontent[data-v-505fda3f]{display:flex}.assetblock .assetcontent .assetrow[data-v-505fda3f]{width:100%;display:grid;grid-template-columns:1fr 1fr}

/* Общие стили */
.container {
&[data-v-f1f0f914] {
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
.info {
&[data-v-f1f0f914] {
        width: 192px;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
}
.rowline[data-v-f1f0f914] {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 10px;
}
.row {
&[data-v-f1f0f914] {
            display: grid;
            grid-template-columns: 64px 128px;
}
.rowvalue[data-v-f1f0f914] {
                text-align: center;
                width: 100%;
}
}
}
.list-container {
&[data-v-f1f0f914] {
        flex: 1;
        height: 100%;
        width: 384px;
        overflow-y: auto;
}
.grid {
&[data-v-f1f0f914] {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, 86px);
            grid-auto-rows: 86px;
            gap: 8px;
}
.grid-element[data-v-f1f0f914] {
                width: 72px;
                height: 72px;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.75);
                padding: 5px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
}
}
}
}


.scenetools {
    width: 100%;
    display: flex;
    flex-direction: column;
.sceneassets {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
}
}

.actionview{display:grid;grid-template-rows:auto;gap:1px}.actionview .actionrow{display:grid;grid-template-columns:auto 1fr;gap:5px;margin-bottom:3px}.actionview .actionrow .label{height:26px}.actionview .actionrow .buttons{display:flex;flex-wrap:nowrap;justify-content:flex-end;gap:3px}.actionview .actionform .line{display:flex;flex-wrap:nowrap;gap:5px;justify-content:center}

.menu[data-v-f62b4f74] {

    position: absolute;
    padding: 10px;
    background-color: var(--popupbgcolor);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
ul[data-v-f62b4f74] {
    list-style: none;
    margin: 0;
    padding: 0;
}
li[data-v-f62b4f74] {
    padding: 8px 12px;
    cursor: pointer;
}
li.highlighted[data-v-f62b4f74] {
    background-color: #1d1b1b85;
}
  

.blocks-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
.blockslabel {
        display: flex;
        justify-content: space-between;
}
.blocks {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
.block {
            display: flex;
            flex-direction: column;
            gap: 5px;
.blocklabel {

                margin-left: 15px;
                display: flex;
                justify-content: space-between;
.blocktitle {
                    color: var(--text-color-a);
}
}
}
}
}
.copybutton {
    margin: 5px 0;
    width: 100%;
}


.inspector {
    user-select: none;
    pointer-events: all;
    position: absolute;
    top: 10px;
    left: 4px;
    bottom: 10px;
    width: 256px;
    padding: 1px;
}

/*.panel-container {
    user-select: none;
    position: absolute;
    top: 10px;
    left: 3px;
    bottom: 10px;
    width: 256px;
    padding: 1px;

    .label {

        color: #848e9c;
    }

    .panel {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0;
        max-height: 100%;
        display: grid;
        grid-template-rows: 32px 1fr;
        background-color: rgba(43, 43, 43, 0.9);
        border: 1px solid rgb(31, 31, 31);
        border-radius: 10px;
        gap: 5px;

        .header {
            pointer-events: all;
            height: 32px;
            user-select: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content {
            flex: 1;
            pointer-events: all;
            display: flex;
            flex-direction: column;
            overflow: auto;
            margin: 5px;

            .elements {
                display: flex;
                flex-direction: column;
                gap: 5px;
                height: 100%;
                overflow-y: auto;

                .inspectorblock {
                    border: 1px solid rgba(0, 0, 0, 0.616);
                    padding: 3px;

                    .copybutton {
                        margin-bottom: 5px;
                        margin-top: 5px;
                    }

                    .blockcontent {
                        display: flex;

                        .blockcomponent {
                            width: 100%;
                        }
                    }
                }

                /*min-height: 1280px;*/
/*.transforms {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

    }



}*/


.tree-node[data-v-261e9d42] {
    list-style: none;
    padding-top: 2px;
}
.tree-node-content {
&[data-v-261e9d42] {
    display: flex;
    flex-direction: row;
    gap: 5px;
    }
.collapser[data-v-261e9d42] {
        width: 15px;
        cursor: pointer;
}
.selector[data-v-261e9d42] {
        width: 15px;
}
.labeler[data-v-261e9d42] {
        display: block;
        flex: 1;
        flex-wrap: nowrap;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 20px;
}
.appender[data-v-261e9d42] {
        display: block;
}
}
.tree-node ul[data-v-261e9d42] {
    margin-left: 5px;
    padding-left: 5px;
}


.treecontainer {
&[data-v-4c9e3d2a] {
    display: flex;
    align-items: start;
    width: 100%;
    user-select: none;
}
.roottree[data-v-4c9e3d2a] {
        width: 100%;
        /*max-width: 250px;*/
        display: flex;
        flex-direction: column;
        margin-block-start: 5px;
        padding-inline-start: 5px;
}
}


.focusedtree[data-v-cfd9d79a]{color:var(--text-focused);background-color:var(--bg-focused)}.hierarhy-view[data-v-cfd9d79a]{overflow-y:auto;overflow-x:hidden;width:100%}.hierarhy-view .title[data-v-cfd9d79a]{display:flex;gap:5px}.treeicon[data-v-cfd9d79a]{display:flex;gap:3px;flex-wrap:nowrap;cursor:pointer}.label[data-v-cfd9d79a]{cursor:pointer}

/* Общие стили */
.container[data-v-37404c2f] {
    padding: 20px;
    margin: auto;
    min-width: 256px;
}
.block[data-v-37404c2f] {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.header {
&[data-v-37404c2f] {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    }
.easy[data-v-37404c2f] {
        margin: 5px;
        cursor: pointer;
}
}
.content[data-v-37404c2f] {
    margin-top: 10px;
    padding: 10px;
}
.input-item[data-v-37404c2f] {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.input-item input[data-v-37404c2f] {
    flex-grow: 1;
    margin-right: 10px;
}
.sub-block[data-v-37404c2f] {
    border-top: 1px solid #ccc;
    position: relative;
}
.sub-header {
&[data-v-37404c2f] {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    }
.moduleBlock[data-v-37404c2f] {
        cursor: pointer;
}
}
.sub-header button[data-v-37404c2f] {
    background: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}
.sub-header button[data-v-37404c2f]:hover {
    text-decoration: underline;
}
.title[data-v-37404c2f] {
    display: flex;
}
.sub-content input[data-v-37404c2f] {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}
.subtitle[data-v-37404c2f] {
    display: flex;
    justify-content: start;
}
.icondiv[data-v-37404c2f] {
    cursor: pointer;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons[data-v-37404c2f] {
    text-align: center;
    margin-top: 10px;

    /*button {
        padding: 10px 15px;
        border: none;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
    }*/
}

/* Адаптивные стили */
@media screen and (max-width: 480px) {
.container[data-v-37404c2f] {
        padding: 10px;
}
.header {
&[data-v-37404c2f] {
        flex-direction: column;
        align-items: flex-start;
        }
.easy[data-v-37404c2f] {
            margin-bottom: 5px;
}
.icondiv[data-v-37404c2f] {
            margin-bottom: 5px;
}
}
.sub-header {
&[data-v-37404c2f] {
        flex-direction: column;
        align-items: flex-start;
        }
button[data-v-37404c2f] {
            margin-top: 5px;
}
}
.sub-content input[data-v-37404c2f] {
        font-size: 14px;
}
}
@media screen and (min-width: 481px) and (max-width: 759px) {
.container[data-v-37404c2f] {
        max-width: 90%;
}
.block[data-v-37404c2f] {
        margin-bottom: 15px;
}
.header[data-v-37404c2f] {
        padding: 10px;
}
.content[data-v-37404c2f] {
        padding: 5px;
}
.sub-header[data-v-37404c2f] {
        padding: 10px 5px;
}
.buttons button[data-v-37404c2f] {
        padding: 8px 12px;
}
}
@media screen and (min-width: 760px) {
.container[data-v-37404c2f] {
        max-width: 600px;
}
.block[data-v-37404c2f] {
        margin-bottom: 20px;
}
.header[data-v-37404c2f] {
        padding: 10px;
}
.content[data-v-37404c2f] {
        padding: 10px;
}
.sub-header[data-v-37404c2f] {
        padding: 10px;
}
.buttons button[data-v-37404c2f] {
        padding: 10px 15px;
}
}


.container[data-v-2cc2e0b7] {
    padding: 20px;
    margin: auto;
    min-width: 256px;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
}

.hierarhy-view[data-v-6d4a451e]{overflow-y:auto;overflow-x:hidden;display:flex;flex-direction:column}.focusedtree[data-v-6d4a451e]{color:var(--text-focused);background-color:var(--bg-focused)}.treeicon[data-v-6d4a451e]{display:flex;gap:3px}.treeicon .svgicon[data-v-6d4a451e]{cursor:pointer}.label[data-v-6d4a451e]{cursor:pointer}
.hierarhy-view[data-v-15bd43d8]{overflow-y:auto;overflow-x:hidden}.focusedtree[data-v-15bd43d8]{color:var(--text-focused);background-color:var(--bg-focused)}.label[data-v-15bd43d8]{cursor:pointer}

.transformer{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 10px;
    left: 256px;
    right: 256px;
.icons{
        display: flex;
        gap: 15px;
        pointer-events: all;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.5);
        padding: 5px;
.svgicon{
            cursor: pointer;
}
}
}

.editor-container{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.tools{
		position: absolute;
		top:0;
		width: 100%;
	}
	.workspace{
		width: 100%;
		height: 100%;
	}
}

.element[data-v-e1cacaea] {
    height: 100%;
    /* или фиксированную высоту, например 200px */
    min-height: 0;
    /* важно для правильной работы overflow в grid/flex */
    max-height: 100%;

    padding: 1px;
    overflow-y: auto;
    display: flexbox;
    flex-direction: column;
}
.container {
&[data-v-e1cacaea]{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    }
.hierarhy[data-v-e1cacaea] {
        position: absolute;
        bottom: 0;
        right: 0;
        top: 20%;
        width: 256px;
        height: 100%;
}
.project[data-v-e1cacaea] {
        position: absolute;
        top: 10px;
        right: 3px;
        bottom: 10px;
        width: 256px;
        pointer-events: all;
        /*display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);*/
}
.sliders[data-v-e1cacaea] {
        position: absolute;
        bottom: 10px;
        left: 266px;
        right: 266px;
        height: 128px;
        pointer-events: all;
}
}

/* Боковая панель */
.sidebar[data-v-e1cacaea] {
    width: 68px;
    background-color: rgba(29, 32, 62, 0.5);
    padding-left: 11px;
    overflow: hidden;
    pointer-events: all;
}
.sidebar .menu[data-v-e1cacaea] {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    padding-top: 120px;
    padding-left: 20px;
    height: 884px;
    width: 67px;
    /*background-image: url('/assets/bar.png');
    background-repeat: no-repeat;*/
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.sidebar .menublur[data-v-e1cacaea] {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 120px;
    padding-left: 20px;
    height: 884px;
    width: 67px;
    filter: blur(5px);
}
.sidebar .menu .menuelement[data-v-e1cacaea] {
    width: 40px;
    height: 40px;
    background-image: url(/editor/assets/5bf54e94011af41adb2c.png);
}
.sidebar .menu .menuelements[data-v-e1cacaea] {
    width: 60px;
    height: 60px;
    background-image: url(/editor/assets/5bf54e94011af41adb2c.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.sidebar .menu .menuelement[data-v-e1cacaea]:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.slides[data-v-e1cacaea] {
    position: absolute;
    bottom: 10px;
    left: 150px;
    right: 150px;
    pointer-events: all;
}
.main-content {
&[data-v-e1cacaea]{
    position: relative;
    }
.camlist[data-v-e1cacaea] {
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: all;
}
}



/* Контейнер для карточек */
.card-container[data-v-e1cacaea] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Адаптивные столбцы */
    gap: 20px;
}

/* Карточки */
.card[data-v-e1cacaea] {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
}
.card-large[data-v-e1cacaea] {
    grid-column: span 2;
    /* Занимает 2 столбца */
}

/* Правая панель */
.right-sidebar {
&[data-v-e1cacaea]{
    width: 200px;
    background-color: #2C2F48;
    overflow-y: auto;
    }
.right-slider {
&[data-v-e1cacaea]{
        pointer-events: all;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        padding: 5px;
        }
.side-card[data-v-e1cacaea] {
            background-color: rgba(255, 255, 255, 0.3);
            min-height: 10px;
            border-radius: 5%;
            border: 1px solid #0e0f16;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.line[data-v-e1cacaea] {
            border: 1px solid #202235;
}
}
}


.rotating-div {
  width: 100px;
  height: 100px;
  animation: rotation 1s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
.canvas-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
#playcanvas {
    position: absolute;
    top: 10px;
    right: 260px;
    width: 512px;
    aspect-ratio: 16/9;
    border: 2px solid black;
}
#editorcanvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    /*margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    */
}
.canvasui {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}
.tablecanvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}

svg[data-v-1165b5b0]{fill:var(--symbolColor)}svg use title[data-v-1165b5b0]{background-color:#000;color:#fff;text-align:center;border-radius:6px;padding:5px 0}

.modal-overlay[data-v-2e525eff] {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--popupshadowcolor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal[data-v-2e525eff] {
  background: var(--panelbgcolor);
  padding: 10px;
  border-radius: 8px;
@media screen and (max-width:480px) {
    max-width: 256px;
}
@media screen and (min-width:481px) {
    max-width: 400px;
}
@media screen and (min-width:760px) {
    max-width: 768px;
}
}
.modal-header {
.header[data-v-2e525eff] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
.close-btn[data-v-2e525eff] {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal-content[data-v-2e525eff] {
  padding: 5px;
}
.modal-footer {
&[data-v-2e525eff] {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  flex-direction: row;
  }
.footer[data-v-2e525eff] {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 5px;
    /*button {
      pointer-events: all;
      padding: 10px 15px;
      border: none;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      border-radius: 4px;

      &.primary {
        background-color: #009130;
      }

      &.secondary {
        background-color: #008607;
      }
    }*/
}
}


.popup {
&[data-v-1591e2fe] {
    position: absolute;
    background-color: var(--popupbgcolor);
    border: 1px solid var(--bordercolor);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 100;
}
.element[data-v-1591e2fe]{
        cursor: pointer;
}
}
button[data-v-1591e2fe] {
    cursor: pointer;
}
  
.simple[data-v-7f0518be]{height:100%;aspect-ratio:1/1;display:flex;justify-content:center;align-items:center}.simple:active .btnicon[data-v-7f0518be]{transform:translateY(2px);transform:translateX(2px)}.simple .btnicon[data-v-7f0518be]{height:100%;display:flex;justify-content:center;align-items:center}
.simple[data-v-673fd16a]{height:100%;aspect-ratio:1/1;display:flex;justify-content:center;align-items:center}.simple:active .btnicon[data-v-673fd16a]{transform:translateY(2px);transform:translateX(2px)}.simple .btnicon[data-v-673fd16a]{height:100%;display:flex;justify-content:center;align-items:center}.simple.active[data-v-673fd16a]{background-color:#007bff;color:#fff}

.spinner[data-v-4736cf19] {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin-4736cf19 0.8s linear infinite;
    margin-left: auto;
    margin-right: auto;
}
@keyframes spin-4736cf19 {
to { transform: rotate(360deg);
}
}
  

.toast-container[data-v-3aed840a] {
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    pointer-events: none;
    user-select: none;
}
.toast {
&[data-v-3aed840a] {
    background-color: var(--popupbgcolor);
    padding: 10px;
    min-width: 256px;
    min-height: 64px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 3px 0 rgba(12, 12, 12, 0.836);
    pointer-events: all;
    }
.toastview[data-v-3aed840a]{
        font-size: 1.2em;
        max-width: 300px;
}
}
.toast-enter-active[data-v-3aed840a],
.toast-leave-active[data-v-3aed840a] {
    transition: opacity 0.5s;
}
.toast-enter-from[data-v-3aed840a],
.toast-leave-to[data-v-3aed840a] {
    opacity: 0;
}


.alert {
    display: flex;
    flex-direction: row;
.alerticon {
        margin: 10px;
        fill: rgb(255, 0, 0);
}
.infoicon {
        margin: 10px;
        fill: rgb(98, 174, 236);
}
.warningicon {
        margin: 10px;
        fill: rgb(194, 191, 55);
}
.text {
        font-size: 1.1em;
        display: flex;
        width: 100%;
        align-items: center;
}
}


.slide-scroller[data-v-dafd9036] {
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Prevent items from wrapping */
    -webkit-overflow-scrolling: touch;
    /* For smoother scrolling on iOS */
}
.slide-container[data-v-dafd9036] {
    display: inline-block;
    transition: transform 0.3s ease;
    /* Add a smooth transition */
    padding: 1px;
}
.slide-item {
&[data-v-dafd9036] {
    width: 142px;
    height: 142px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border-color 0.2s ease;
    position: relative;
    }
.title[data-v-dafd9036]{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: end;
}
}
.slide-item img[data-v-dafd9036] {
    width: 138px;
    height: 138px;
    /*object-fit: cover;
    border-radius: 5px;*/
}
.slide-item.selected[data-v-dafd9036] {
    border-color: #007bff;
    /* Highlight the selected image */
}


.input-wrapper[data-v-2c548edc] {
    width: 100%;
    display: block; /* или block, в зависимости от нужного поведения */
}
.input-field[data-v-2c548edc] {
    padding: 3px 5px;
    border: 1px solid #1D203E;
    border-radius: 4px;
    font-size: 14px;
    outline: none; /* Убирает стандартную обводку при фокусе */
}
.input-field[data-v-2c548edc]:focus {
    border-color: #1D203E;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5); /* Добавляет легкую тень при фокусе */
}
  

.container {
&[data-v-2b60153b] {
    padding: 20px;
    margin: auto;
    min-width: 256px;
    display: flex;
    flex-direction: column;
}
.block {
&[data-v-2b60153b] {
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
}
.label[data-v-2b60153b]{
            text-align: right;
            padding-right: 10px;
}
.value[data-v-2b60153b]{
}
}
}

.slider[data-v-b3fc2cec]{position:absolute;background-color:rgba(71,55,116,.75);z-index:0;transition:all .35s}
li[data-v-562df7a6]{display:flex;flex-direction:row;align-items:left}li span[data-v-562df7a6]{color:#bda4a4}li .child-list[data-v-562df7a6]{margin:0;padding:0;display:flex;flex-direction:column;align-items:flex-start;justify-content:flex-start}li .child-list ul[data-v-562df7a6]{padding-inline-start:20px}

.comma-number-input-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 64px;
    gap: 3px;
}
.comma-number-input {
    flex: 1;
    text-align: right;
    border: none;
    padding: 1px;
    outline: none;
    width: 32px;
}
.arrow-buttons {
    display: flex;
    flex-direction: column;
}
.arrow-buttons button {
    all: unset;
    width: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
    user-select: none;
}
.arrow-buttons button:hover {
    /*background: #f0f0f0;*/
}


.title {
&[data-v-043ee8ac] {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3px;
    gap: 5px;
}
.label[data-v-043ee8ac]{
        flex:1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-wrap: nowrap;
}
.tools[data-v-043ee8ac]{
}
.titleinfo[data-v-043ee8ac]{
        flex:1;
}
&.min[data-v-043ee8ac] {
        justify-content: flex-start;
}
}


.title {
&[data-v-4c8a5658] {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3px;
    gap: 5px;
}
.label[data-v-4c8a5658] {
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
}
.tools[data-v-4c8a5658] {}
.titleinfo[data-v-4c8a5658] {
        flex: 1;
}
&.min[data-v-4c8a5658] {
        justify-content: flex-start;
}
}

.block_container[data-v-08a6e69f]{width:100%;display:flex;flex-wrap:nowrap;gap:5px}.block_container .editrow[data-v-08a6e69f]{display:grid;grid-template-columns:1fr 15px;width:100%;align-items:center}.block_container .editrow .editinput[data-v-08a6e69f]{width:100%}.block_container .editrow .label[data-v-08a6e69f]{cursor:pointer;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.block_container svg[data-v-08a6e69f]{margin-left:5px;cursor:pointer;flex-shrink:0}.okicon[data-v-08a6e69f]{width:32px;flex-shrink:0}.editinput[data-v-08a6e69f]{flex:1;min-width:0;height:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

.itemElement{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
.itemrow{
        word-wrap: break-word;
        width: 100%;
        text-align: center;
}
}



/* Общие стили */
.container {
&[data-v-7adf6317] {
    margin: auto;
    height: 512px;
    display: flex;
    flex-direction: row;
}
.extension[data-v-7adf6317] {
        height: 100%;
        width: 256px;
        display: block;
        position: relative;
}
.list-container {
&[data-v-7adf6317] {
        flex: 1;
        height: 100%;
        width: 384px;
        overflow-y: auto;
}
.grid {
&[data-v-7adf6317] {
            width: 100%;
            /*display: grid;
            /*grid-template-columns: repeat(auto-fill,  minmax(min-content, max-content));
            grid-auto-rows: 87px;*/
            /*grid-auto-columns: max-content;
            grid-auto-flow: column;*/
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
}
.grid-element {
&[data-v-7adf6317] {
                cursor: pointer;
                width: 72px;
                height: 72px;
                aspect-ratio: 1;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.75);
                padding: 5px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                overflow: hidden;
                gap: 5px;
}
&.selected[data-v-7adf6317]{
                    border: 2px solid rgba(155, 155, 155, 0.75);
}
}
}
}
}


.form-container {
    display: flex;
    flex-direction: column;
.info {
        display: flex;
        flex-direction: column;
        gap: 10px;
.row {
            display: grid;
            grid-template-columns: minmax(50px, 96px) minmax(128px, 1fr);
.rowvalue {
.typeslist {
                    width: 100%;
}
}
}
}
}

.importer{height:512px;overflow-y:auto;width:256px}.importer .row{margin-bottom:5px}.importer .row .title{font-size:1.2em}

.form-container {
&[data-v-e8a61924] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;    
    overflow-y: auto;
    padding: 5px;
}
.form-column {
&[data-v-e8a61924] {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
}
.row[data-v-e8a61924] {
            display: grid;
            grid-template-columns: minmax(50px, 96px) minmax(128px, 1fr);
}
}
}

html{--text-color-normal: hsl(0, 0%, 13%);--text-color-inver:#b43b3b;--bgcolor:rgb(226, 226, 226);--bordercolor:rgba(29, 21, 23, 1);--button-info-bg:rgb(158, 156, 156);--symbolColor:rgb(99, 145, 99)}html[data-theme=dark]{--btnw:64px;--text-color-normal:#c5c9cf;--text-color-inver:#610404;--text-color-a:#2cb91f;--text-focused:#eeee80e3;--bg-focused:rgba(0,0,0,0.25);--bgcolor:rgb(35, 31, 32);--symbolColor:rgb(142, 197, 142);--symbolColorAlpha:rgba(142, 197, 142,0.5);--panelbgcolor:rgba(41, 32, 35, 0.85);--panelbgcolora:rgba(51, 51, 51, 0.3);--popupbgcolor:rgba(51, 51, 51, 0.863);--popupshadowcolor:rgba(32, 32, 32, 0.877);--tooltip-bgcolor:rgba(0,0,0,.9);--bordercolor: rgba(29, 21, 23, 0.95);--button-info-bg:rgb(66, 65, 65);--button-info-active-bg:rgb(97, 94, 94);--button-info-passive-bg:rgba(87, 87, 87, 0.5);--button-info-border:rgba(5, 4, 4, 0.548);--button-icon-fill:rgba(197, 194, 194, 0.925);--button-warn-bg:rgb(128, 0, 0);--button-warn-active-bg:rgb(150, 26, 26);--button-warn-passive-bg:rgb(95, 43, 43);--button-warn-border:rgba(5, 4, 4, 0.548)}.floatInput{max-width:54px}.floatInputinput::-webkit-outer-spin-button,.floatInput input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}.floatInputinput[type=number]{-moz-appearance:textfield}.inspectorblock .blockcontent{padding:3px}.inspectorblock .blockcontent .blockcomponent{display:block;width:100%}.buttons-group{display:flex}.btn{padding:10px 15px}button{color:var(--text-color-normal);cursor:pointer;border-radius:5px;font-size:1em;background-color:var(--button-info-bg);fill:var(--button-icon-fill);box-shadow:2px 2px 2px 1px rgba(0,0,0,.2);border:none}button:disabled{opacity:.6;cursor:not-allowed;color:#272727}button.primary{background-color:#009130;padding:10px 15px}button.primary :disabled{background-color:rgba(0,145,48,.5607843137)}button.secondary{background-color:#007286;padding:10px 15px}button.secondary :disabled{background-color:rgba(0,121,143,.4431372549)}button.additional{background-color:#910825;padding:10px 15px}button.additional :disabled{background-color:rgba(143,0,79,.4431372549)}button.small-btn{min-height:18px;font-size:.75em}button.normal{min-width:100px}button.info{background-color:var(--button-info-bg)}button.cancel{background-color:var(--button-info-warn)}button.large{min-height:3em}button.active{background-color:var(--button-info-active-bg)}button.passive{background-color:var(--button-info-passive-bg);opacity:.75}button.square{aspect-ratio:1/1}button .label{justify-content:center;align-items:center;display:flex;height:100%}.panel{background:var(--panelbgcolor);border-radius:4px;border:1px solid #131212;box-shadow:2px 2px 5px rgba(0,0,0,.404)}.selectable-container{margin:auto;height:256px;display:flex;flex-direction:row}.selectable-container .info{height:100%;padding:10px;display:flex;flex-direction:column;gap:5px;overflow-y:auto}.selectable-container .info .row{display:grid;grid-template-columns:64px 128px}.selectable-container .info .row .rowvalue{width:100%}.selectable-container .list{flex:1;height:100%;width:512px;overflow-y:auto}.selectable-container .list .grid{width:100%;display:grid;grid-template-columns:repeat(auto-fill, 96px);grid-auto-rows:87px;gap:5px}.selectable-container .list .grid .grid-element{cursor:pointer;width:80px;height:80px;border-radius:10px;border:1px solid rgba(0,0,0,.75);padding:5px;overflow:hidden;display:flex;flex-direction:column;gap:5px}.vlist-container{margin:auto;height:256px;min-width:256px}.vlist-container .list{height:100%;width:100%;overflow-y:auto}.vlist-container .list .vlist{width:100%;display:flex;flex-direction:column;gap:5px}.vlist-container .list .vlist .vlist-element{cursor:pointer;border-radius:3px;border:1px solid rgba(0,0,0,.75);padding:5px;overflow:hidden;display:flex;gap:5px}*{scrollbar-width:thin;scrollbar-color:var(--bordercolor) var(--button-info-bg)}*::-webkit-scrollbar{width:12px}*::-webkit-scrollbar-track{background:#424242}*::-webkit-scrollbar-thumb{background-color:#232324;border-radius:20px;border:3px solid #000}html,body{margin:0;padding:0;width:100%;height:100%;overflow:hidden;background-color:var(--bgcolor);color:var(--text-color-normal);font-size:14px}html a,body a{color:var(--text-color-a)}html video,body video{mix-blend-mode:overlay;filter:grayscale(1)}html #app,body #app{width:100%;height:100%}html #app .app-container,body #app .app-container{top:0;left:0;right:0;bottom:0;position:absolute;display:flex;justify-content:center;align-items:center}html #app .app-container .main-container,body #app .app-container .main-container{top:0;left:0;right:0;bottom:0;position:absolute}html .app .version,body .app .version{position:absolute;bottom:0;left:0}.w100{width:100%}.tcenter{text-align:center}.center{display:flex;justify-content:center}.textwrap{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block}.tooltip{transition:visibility .5s,opacity .5s;opacity:0;color:var(--text-color-normal);background-color:var(--tooltip-bgcolor);padding:5px 10px;border-radius:5px;white-space:nowrap;z-index:1000;pointer-events:none}.tooltip[style*="visibility: visible"]{opacity:1}.canvas-main{margin:0;padding:0;width:100%;height:100%;position:absolute}
